.float-start {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .float-start {
      float: none !important;
      display: block;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 1rem;
    }
  }
  
  