 

.custom-nav{
   
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;

    z-index: 1000; 

}

/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
} */

 .custom-nav .nav-link{
    color: white !important; 
    margin: 0 1.5rem; 
    font-size: 18px;
    text-transform: uppercase; 
    text-decoration: none;
    transition: color 0.3s ease;
} 



.generic{


    font-style: italic;
  font-size: 50px;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
}


.full-width-column {
    background-color: #948d8d; 
    color: #ffffffff; 
    width: 100%;
    text-align: center; 
    padding: 40px;
  }









